.DS_Store
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/.gradle
/build
/out
/logs
*~
*.BAK
*.OLD
*iml
*.swp
/target/
application-private.conf
localCache
/localCache/
__pycache__/
venv/
output/
*.sh
